h1 {
    color : red;
}

ul {
    list-style-type: none;
}

.special {
    color:gold;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1 + p {
    font-size: 200%;
}

a {
    text-decoration: none;
}

a:link {
    color:red;
}

a:visited {
    color:plum;
}

a:hover {
    text-decoration: underline;
}